<% labeled_form_for @assignment do |f| -%>
<%= f.error_messages %>
<fieldset>  
  <%= f.text_area :text, :rows => 3, :class => "countcharacters limit_122_" %>
  <strong><p class="remaining"></p></strong>
  <% if @assignment.new_record? -%>
    <%= f.submit 'Create' %>
  <% else -%>
    <%= f.submit 'Update' %>
  <% end -%>
</fieldset>
<% end -%>
