<div id="second" class="span-22 prepend-1 append-1 last">
<h2>Edit Assignment</h2>
</div>

<div class="span-12 prepend-1 appened-1">
<%= render :partial => 'form' %>
</div>

<div class="span-9 prepend-1 last">
<p>
  For now, we'll need to copy these over to Cotweet.
</p> 
</div>