<h2>Assignments</h2>

<ul id="assignments">
<% @assignments.each do |assignment| -%>
  <li style="list-style: none; padding: 2px 0;">
      <%= link_to assignment.as_tweet, assignment %>
  </li>
<% end -%>
</ul>
