p {
  font-size: 13px;
}

#top {
  background-color: #666;
  margin-bottom: 0px;
}

#top h1 {
  margin-top: 15px;
  text-transform: uppercase;
  color: #999;
  text-align: right;
  font-size: 25px;
}

#top a {
  text-decoration: none;
  color: #eee;
}

#top a:hover {
  color: #eee;
}

#second {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #999;
  background-color: #eee;
}

#second .today {
  font-size: 14px;
  margin-bottom: -4px;
}

#second .text {
  color: #777;
  font-size: 30px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
}

#second .action {
  margin-top: 2px;
  text-align: right;
  font-size: 14px;
}

.photog-rect {
  float: left;
  width: 170px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.photog-rect .avatar {
  float: left;
}

.photog-rect .info {
  float: left;
  margin-left: 10px;
}

#photowall {
  padding-bottom: 5px;
}

#photowall .photo-thumb {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

#photowall .photo-thumb:last-child {
  margin-right: 0px;
}

#photowall  img {
  width: 75px;
  height: 75px;
  border: 1px #999 solid;
}

#photowall .photo-caption {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 10px;
  text-align: right;
  color: #555;
  width: 75px;
}

#photowall .photo-caption a {
  text-decoration: none;
  color: #999;
}

#photowall .photo-caption a:hover {
  text-decoration: none;
  color: #333;
}

#allaboutit {
  color: #777;
  background-color: #eee;
  padding-top: 30px;
  padding-bottom: 30px;
}

#stats {
  margin-bottom: 25px;
}

#stats .preamble {
  margin-left: 40px;
}

#stats .count{
  font-size: 24px;
  line-height: 24px;
  color: #888;
  font-weight: bold;
  text-align: center;
}

#stats .action {
  text-align: right;
  margin-right: 40px;
}

#bottom {
  background-color: #eee;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #aaa;
  font-size: 11px;
}

#bottom a {
  text-decoration: none;
  color: #777;
}

/* FORMS */

form {
  padding: 0;
  margin: 0;
}

form label {
  color: #555;
  display: block;
  font-size: 1.1em;
  font-weight: normal;
}

form label.required {
  font-weight: bold;
}

form input {
  font-size: 1.25em;
}

form input:submit {
  font-size: 1.25em; 
}

.clearfix {
  min-height: 1%;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
