p {
  font-size: 13px;
}

#top {
  margin-top: 20px;
}

#top a {
  text-decoration: none;
  color: #000;
}

#top a:hover {
  color: #000;
}

#bottom {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #777;
  font-size: 11px;
}

#bottom a {
  text-decoration: none;
  color: #777;
}

#flickr-strip {
  margin-top: 10px;
  margin-bottom: 15px;
}

#flickr-credit {
  margin-top: 0px;
  padding-top: 5px;
  font-size: 9px;
  color: #888;
  float: right;
  /* margin-right: 90px; */
}

#flickr-credit a {
  text-decoration: none;
  color: #888;
}

#flickr-credit a:hover {
  color: #77f;
}

/* FORMS */

form {
  padding: 0;
  margin: 0;
}

form label {
  color: #555;
  display: block;
  font-size: 1.1em;
  font-weight: normal;
}

form label.required {
  font-weight: bold;
}

form input {
  font-size: 1.25em;
}

form input:submit {
  font-size: 1.25em; 
}

/* PHOTOS */

.photos {
  margin: 10px auto;
  padding: 10px;
  clear: left;
}

.photo-thumb {
  margin: 5px;
  float: left;
}

.photo-thumb img {
  width: 75px;
  height: 75px;
  display: block;
/*  border: 1px solid #333; */
  padding: 3px;
}

.clearfix {
  min-height: 1%;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
