p {
  font-size: 13px;
}

#top {
  background-color: #666;
  margin-bottom: 15px;
}

#top h1 {
  margin-top: 15px;
  text-transform: uppercase;
  color: #999;
  text-align: right;
  padding-right: 18px;
  font-size: 25px;
}

#top a {
  text-decoration: none;
  color: #eee;
}

#top a:hover {
  color: #eee;
}

#assignment {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #999;
}

#assignment .today {
  font-size: 14px;
  margin-bottom: -4px;
}

#assignment .text {
  color: #777;
  font-size: 30px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
}

#assignment .hashtag {
  margin-top: 2px;
  text-align: right;
  font-size: 14px;
}

#photowall {
  margin-bottom: 25px;
}

#photowall .photo-thumb {
  float: left;
  margin-right: 21px;
  margin-bottom: 10px;
}

#photowall .photo-thumb:last-child {
  margin-right: 0px;
}

#photowall  img {
  width: 75px;
  height: 75px;

}

#photowall .photog-name {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 10px;
  text-align: right;
  color: #555;
}

#photowall .photog-name a {
  text-decoration: none;
  color: #999;
}

#photowall .photog-name a:hover {
  text-decoration: none;
  color: #333;
}


#bottom {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #777;
  font-size: 11px;
}

#bottom a {
  text-decoration: none;
  color: #777;
}

#flickr-strip {
  margin-top: 10px;
  margin-bottom: 15px;
}

#flickr-credit {
  margin-top: 0px;
  padding-top: 5px;
  font-size: 9px;
  color: #888;
  float: right;
  /* margin-right: 90px; */
}

#flickr-credit a {
  text-decoration: none;
  color: #888;
}

#flickr-credit a:hover {
  color: #77f;
}

/* FORMS */

form {
  padding: 0;
  margin: 0;
}

form label {
  color: #555;
  display: block;
  font-size: 1.1em;
  font-weight: normal;
}

form label.required {
  font-weight: bold;
}

form input {
  font-size: 1.25em;
}

form input:submit {
  font-size: 1.25em; 
}

/* PHOTOS */

/*
.photos {
  margin: 10px auto;
  padding: 10px;
  clear: left;
}
*/

/*
.photo-thumb {
  margin: 8px;
  float: left;
}
*/

/*
.photo-thumb img {
  width: 75px;
  height: 75px;
  display: block; */
/*  border: 1px solid #333; */
/*  padding: 3px;
} */

.clearfix {
  min-height: 1%;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
