<div id="photowall" class="span-24 last">
<% photos.in_groups_of(10).each do |row| -%>
	<div class="row">
	<% row.each do |photo| -%>
		<% next if photo == nil -%>
		<div class="photo-thumb">
		<%= link_to image_tag(photo.thumb_url, :alt => photo.url), photo.url, :title => "", :rel => 'nofollow', :popup => true %>
			<div class="photo-caption">
			<% if caption == 'assignment' -%>
				<%= link_to photo.assignment.tag, assignment_url(photo.assignment_id) %>
			<% else -%>
				<%= link_to photo.photog_screen_name, photog_url(photo.photog_screen_name) %>
			<% end -%>
			</div> <%# /photo-caption %>
		</div> <%# /photo-thumb %>
	<% end -%>
	</div> <%# /row %>
<% end -%>
</div> <%# /photowall %>