<div class="span-24" id="flickr-strip">
<!-- Start of Flickr Badge -->
<style type="text/css">
/*
Images are wrapped in divs classed "flickr_badge_image" with ids "flickr_badge_imageX" where "X" is an integer specifying ordinal position. Below are some styles to get you started!
*/
#flickr_badge_uber_wrapper {padding-bottom: 40px;}
#flickr_badge_wrapper {}
.flickr_badge_image {margin:0 10px 10px 0px; float: left;}
.flickr_badge_image img {border: 1px solid grey !important;}
#flickr_badge_source {}
#flickr_badge_icon {}
#flickr_www {}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#3993ff;}
#flickr_badge_wrapper {}
#flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;}
</style>

<div id="flickr_badge_uber_wrapper">
<div id="flickr_badge_wrapper">
<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?show_name=1&count=10&display=latest&size=s&layout=x&context=in%2Fpool-1251121%40N24%2F&source=group&group=1251121%40N24"></script>

</div>
</div>
<!-- End of Flickr Badge -->
</div>


<div class="span-14">

<p>
  Photography is an art and a craft. Getting better at both requires practice. Lots of practice. Daily practice if you can
  manage it. Sometimes, more often than we&rsquo;d like to admit, it can be hard to pick up the camera and start using it.
  Usually when this happens it&rsquo;s not that you don&rsquo;t want to make a photograph, but more like you don&rsquo;t
  know what to go shoot or where to get started. You just need a little inspiration... That&rsquo;s where @dailyshoot comes in.
</p>

<p style="font-size: 14px;">
   <strong>The Daily Shoot is a simple daily assignment designed to encourage you to pick up your camera, get out there, and make some photographs!</strong>
<p>

<p>  
  Maybe you&rsquo;ll pick up your digital SLR. Maybe it&rsquo;ll be a pocket cam. Even your mobile phone. Think of these exercises as a simple daily nudge in the right direction.
</p>

<h3>So how do I get started already?</h3>

<p>
  It's easy! <a href="http://twitter.com/dailyshoot">Follow @dailyshoot on Twitter</a>. Every day at 9 AM EST a new photo
  assignment will drop in. Sometimes it&rsquo;ll be simple. Other times it might require a wee bit of research to help stretch your knowledge base and get you out of your comfort zone. Either way, all the assignments are designed to do one simple thing: Inspire you to get out there
  and make photographs! If you make a single photograph that fulfills the assignment, great. If you go further and make 30 or 300 because you get yourself on a creative roll, even better!
</p>

<h3>How do I share my photos?</h3>

<p>
  We want you to use the tools and services that you&rsquo;re already comfortable with. To share your photos with other @dailyshoot fans, upload your photos to your favorite photo site and send a reply tweet to <a
  href="http://twitter.com/dailyshoot">@dailyshoot</a> with a link. If you're a Flickr user, you can also add your photo to
  <a href="http://www.flickr.com/groups/1251121@N24/pool/">The Daily Shoot Flickr Pool</a>. The photos across the top of this page come from the Flickr pool.
</p>

<h3>How do I see other photos?</h3>

<p>
  The simple way is to look over to the right and see the most recent tweet replies the @dailyshoot account is receiving. You can see more by simply searching Twitter with &ldquo;<a
  href="http://twitter.com/#search?q=%40dailyshoot">@dailyshoot</a>&rdquo; as the search term. Flickr users can also check the <a
  href="http://www.flickr.com/groups/1251121@N24/pool/">Daily Shoot Flickr Pool</a>.
</p>

<h3>There must be rules, right?</h3>

<p>
Nope. We&rsquo;re not about rules or regulations. We&rsquo;re about getting out and making photographs. Whatever helps you do it should be your own personal ruleset.
</p>

<h3>Where is this thing going?</h3>

<p>
  Oh, you want a five year plan?! Sorry, it's not that kind of an operation. We&rsquo;re all about keeping things simple and trying new ideas as they emerge. We view this project like a grassy common area between buildings. We want to see where people walk before we start building out the sidewalks that will finish things out. 
</p>

<p>
  That said, some things that could be very useful to the project are starting to become quite obvious. We&rsquo;d like to see this site pull together a daily grid of
  photographs that people reply back to the assignment tweet with that goes beyond the Flickr pool and encompasses other photo sharing sites. We&rsquo;d love to provide a better way of suggesting assignments than tweets or email. And, we&rsquo;d love to see mobile camera applications pick up the daily assignments and present them to their users. It&rsquo;s all possible. 
</p>

<p>
 We&rsquo;d love to have you actively participate in the process. If you&rsquo;re a Twitter API maven and know
  Ruby on Rails, please consider helping us out and check out our <a href="http://github.com/duncan/dailyshoot">GitHub
  repository with the source code for this site</a>. Not much is there yet, but with your help, we&rsquo;ll get there...
</p>

</div>

<div class="span-9 prepend-1 last">


<br clear="all">

<h3>Latest Twitter Replies</h3>

<div id="tweets">
  <% @mentions.each do |mention| -%>
    <p>
      <strong><%= auto_link_user("@#{mention.user.screen_name}") %></strong>: <%= auto_link(mention.text) %>
    </p>
  <% end -%>
</div>

<h3>Recent Assignments</h3>

<div id="tweets">
  <% @tweets.each do |tweet| -%>
    <p>
      <strong><%= h tweet.text %></strong>
    </p>
  <% end -%>
</div>

<h3>Who&rsquo;s Behind This?</h3>

<p><img src="/images/duncan.jpg" width="75" height="110" style="float: right; margin-left: 10px;"><a href="http://duncandavidson.com">James Duncan Davidson</a> is a photographer, author, and recovering software developer. He travels around the world shooting events like <a href="http://conferences.ted.com/TEDIndia/">TEDIndia</a> and <a href="http://www.web2summit.com/web2009">Web 2.0 Summit</a>. You can find some of his photography in his <a href="http://www.flickr.com/photos/x180/">Flickr stream</a>.</p>

<p><img src="/images/mike.jpg" width="75" height="110" style="float: left; margin-right: 10px;"><a href="http://clarkware.com/about.html">Mike Clark</a> is a programmer, consultant, and author based in Denver, CO. He also runs training events through <a href="http://http://pragmaticstudio.com/">The Pragmatic Studio</a>. You can find some of his photography in his <a href="http://www.flickr.com/photos/clarkware/">Flickr stream</a>.</p>

</div>