<div class="span-12">

<p>
  Photography is an art and a craft. Getting better at both requires practice. Lots of practice. Daily practice if you can
  manage it. Sometimes, more often than we&rsquo;d like to admit, it can be hard to pick up the camera and start using it.
  Usually when this happens it&rsquo;s not that you don&rsquo;t want to make a photograph, but more like you don&rsquo;t
  know what to go shoot or where to get started. You need a little inspiration.
</p>

<p>
  We&rsquo;re here to help with that. The Daily Shoot is a simple daily exercise routine designed to encourage you to pick
  up the camera&mdash;your big camera or maybe just the one in your mobile phone&mdash;and use it! Think of it as a daily
  nudge in the right direction.
</p>

<h3>So how do you get started already?</h3>

<p>
  It's easy! <a href="http://twitter.com/dailyshoot">Follow @dailyshoot on Twitter</a>.
  Every day at 9 AM EST a new assignment will drop in. Sometimes it&rsquo;ll be a simple one. Other times, it might be a
  bit more complex and require a wee bit of research. Either way, all the assignments are designed to do one simple thing:
  Inspire you to get out there and make photographs! Don't be shy&mdash;it's not a contest! Everybody needs practice, and
  that's what this is all about.
</p>

<p>
  Finally, after you shoot your daily assignment you may end up taking 30 or 300 more photographs of other things. All the
  better. The idea is to kick start your creativity. No need to stop shooting once you've got something in the bag!
</p>
  
<h3>How do I share my photos?</h3>

<p>
  The easiest way is to upload your photos to a photo site of your choice and reply to <a
  href="http://twitter.com/dailyshoot">@dailyshoot</a> with a link. If you're a Flickr user, you can also add your photo to
  the <a href="http://www.flickr.com/groups/1251121@N24/pool/">The Daily Shoot Flickr Pool</a>.
</p>

<h3>How do I see other photos?</h3>

<p>
  The easiest way to see what other people are doing is to simply search Twitter on &ldquo;<a
  href="http://twitter.com/#search?q=%40dailyshoot">@dailyshoot</a>&rdquo;. Flickr users can also check the <a
  href="http://www.flickr.com/groups/1251121@N24/pool/">Daily Shoot Flickr Pool</a>.
</p>

<h3>Where is this thing going?</h3>

<p>
  We&rsquo;ve started out with the simplest possible implementation of this idea. It&rsquo;s amazing what people see that
  could be done with this. Pulling together a daily grid of photographs that people reply back to the assignment tweet
  with. Suggesting assignments. And, piping assignments to other tools such as iPhone applications. It&rsquo;s all
  possible.
</p>

<p>
  We view what we&rsquo;ve started here as making a commons, then watching where people walk to see where the sidewalks
  should be. We&rsquo;d love to have you actively participate in the process.. If you&rsquo;re a Twitter API maven and know
  Ruby on Rails, please consider helping us out and check out our <a href="http://github.com/duncan/dailyshoot">GitHub
  repository</a>. Not much is there yet, but with your help, we&rsquo;ll get there...
</p>

</div>

<div class="span-9 prepend-3 last">

<!-- Start of Flickr Badge -->
<style type="text/css">
/*
Images are wrapped in divs classed "flickr_badge_image" with ids "flickr_badge_imageX" where "X" is an integer specifying ordinal position. Below are some styles to get you started!
*/
#flickr_badge_uber_wrapper {padding-bottom: 40px;}
#flickr_badge_wrapper {}
.flickr_badge_image {margin:0 10px 10px 0px; float: left;}
.flickr_badge_image img {border: 1px solid grey !important;}
#flickr_badge_source {}
#flickr_badge_icon {}
#flickr_www {}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#3993ff;}
#flickr_badge_wrapper {}
#flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;}
</style>

<div id="flickr_badge_uber_wrapper">
<div id="flickr_badge_wrapper">
<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?show_name=1&count=8&display=latest&size=s&layout=x&context=in%2Fpool-1251121%40N24%2F&source=group&group=1251121%40N24"></script>

</div>
</div>
<!-- End of Flickr Badge -->

<br clear="all">

<h3>Latest @dailyshoot Tweets</h3>

<p>This is a set of search results... To come.</p>



<h3>Who&rsquo;s Behind This?</h3>

<p><img src="/images/duncan.jpg" width="75" height="110" style="float: right; margin-left: 10px;"><a href="http://duncandavidson.com">James Duncan Davidson</a> is a photographer, author, and recovering software developer. Based in Portland, Oregon, travels around the world shooting such as <a href="http://conferences.ted.com/TEDIndia/">TEDIndia</a>. You can find some of his photography in his <a href="http://www.flickr.com/photos/x180/">Flickr stream</a>.</p>


<p><img src="/images/mike.jpg" width="75" height="110" style="float: left; margin-right: 10px;"><a href="http://clarkware.com">Mike Clark</a> is a programmer, consultant, author, and trainer. He helps people build better software faster through his company, Clarkware, and runs training events through <a href="http://http://pragmaticstudio.com/">The Pragmatic Studio</a>. You can find some of his photography in his <a href="http://www.flickr.com/photos/clarkware/">Flickr stream</a>.</p>


</div>