<div class="span-12">

<p>Photography is an art and a craft. Getting better at both requires practice. Daily practice if you can manage it. Sometimes, more often than we&rsquo;d like to admit, it can be hard to pick up the camera and start using it. Usually, when this happens, it&rsquo;s not that you don&rsquo;t want to make a photograph, but more like you don&rsquo;t know what to go shoot. Where to get started. Maybe other things are more straightfoward, like getting a coffee.</p>

<p>We&rsquo;re here to help with that. The Daily Shoot is a simple daily exercise routine designed to encourage you to pick up the camera&mdash;your big camera or maybe just the one in your mobile phone&mdash;and use it. Think of it as a nudge in the right direction.</p>

<p>How do you get started? Simple. <a href="http://twitter.com/dailyshoot">Follow @dailyshoot on Twitter</a>. Every day a new assignment will drop in. Sometimes it&rsquo;ll be a simple one. Other times, it might be a bit more complex. All are designed to do one simple thing: Inspire you to get out there and make photographs.</p>

<p>If you&rsquo;d like, you can share your favorite photograph for the day&rsquo;s assignment by replying to it in Twitter with a link. If you&rsquo;d like to see what other people are doing, simply search Twitter on &ldquo;<a href="http://twitter.com/#search?q=%40dailyshoot">@dailyshoot</a>&rdquo;. Flickr users can also check out each other&rsquo;s results in <a href="http://www.flickr.com/groups/1251121@N24/pool/">The Daily Shoot Flickr Pool</a>. </p>

<p>Finally, if after you do your daily assignment, you end up taking 30 or 300 more photographs of other things, great!</p>

<h2>Paving Sidewalks</h2>

<p>We&rsquo;ve started out with the simpliest possible implementation of this idea. It&rsquo;s amazing what people see that could be done with this. Pulling together a daily grid of photographs that people reply back to the assignment tweet with. Suggesting assignments. And, piping assignments to other tools such as iPhone applications.</p>

<p>It&rsquo;s all possible. We view what we&rsquo;ve started here as making a commons, then watching where people walk to see where the sidewalks should be. We&rsquo;d love to have you actively participate in the process.. If you&rsquo;re a Twitter API maven and know Ruby on Rails, please consider helping us out and check out our <a href="http://github.com/duncan/dailyshoot">GitHub repository</a>. Not much is there yet, but with your help, we&rsquo;ll get there.</p>

</div>

<div class="span-8 prepend-4 last">

<h3>Latest @dailyshoot Tweets</h3>

<p>This is a set of search results... To come.</p>

<h3>Who&rsquo;s Behind This?</h3>

<p><img src="/images/duncan.jpg" width="75" height="110" style="float: right; margin-left: 10px;"><a href="http://duncandavidson.com">James Duncan Davidson</a> is a photographer, author, and recovering software developer. Based in Portland, Oregon, he has just finished travelling around the world shooting such as <a href="http://conferences.ted.com/TEDIndia/">TEDIndia</a>. You can find some of his photographer in his <a href="http://www.flickr.com/photos/x180/">Flickr stream</a>.</p>

<p><img src="/images/mike.jpg" width="75" height="110" style="float: left; margin-right: 10px;"><a href="http://clarkware.com">Mike Clark</a> is a programmer, author, and photographer based in Denver, CO. He helps people build better software faster through his company, Clarkware, and runs training events through <a href="http://http://pragmaticstudio.com/">The Pragmatic Studio</a>. You can find some of his photography in his <a href="http://www.flickr.com/photos/clarkware/">Flickr stream</a>.</p>

</div>