<div class="span-22 prepend-1 append-1 last" id="second">
	<div class="text">
	  Supported Photo Sites
	</div>
	<div class="action">
	</div>
</div>

<div class="span-23 prepend-1 last" id="allaboutit">
		<p>
		  The Daily Shoot currently supports the following photo sharing sites:
		</p>

    <ul style="padding-left: 2em;">
      <li>
          Flickr
      </li>
      <li>
          SmugMug
      </li>
      <li>
          SnapTweet
      </li>
      <li>
          The Best Camera
      </li>
      <li>
          TweetPhoto
      </li>
      <li>
          Twitgoo
      </li>
      <li>
          TwitPic
      </li>
      <li>
          yFrog
      </li>
    </ul>

    <p>
      Need to shorten your URL? We currently support:
    </p>

    <ul style="padding-left: 2em;">
      <li>
          bit.ly
      </li>
      <li>
          is.gd
      </li>
      <li>
          j.mp
      </li>
      <li>
          ow.ly
      </li>
      <li>
          pic.gd
      </li>
      <li>
          ping.fm
      </li>
      <li>
          pnt.me
      </li>
      <li>
          short.to
      </li>
      <li>
          tiny.cc
      </li>
      <li>
          tinyurl.com
      </li>
      <li>
          tr.im
      </li>
      <li>
          trunc.it
      </li>
      <li>
          twitpwr.com
      </li>
      <li>
          twurl.nl
      </li>      
    </ul>
    
		<p>
		  Using a photo sharing site that's not on the list?
		  <%= link_to "Let us know!", new_suggestion_url %>
    </p>

</div>
