<div id="tweets">
  <% @mentions.each do |mention| -%>
    <p>
      <strong><%= auto_link_user("@#{mention.user.screen_name}") %></strong>: <%= auto_link(mention.text) %>
    </p>
  <% end -%>
</div>