<h2>Mentions</h2>

<div id="tweets">
  <% @mentions.each do |mention| -%>
    <p>
      <strong><%= auto_link_user("@#{mention.user.screen_name}") %></strong>: <%= auto_link(mention.text) %>
    </p>
  <% end -%>
</div>

<p>
<%= image_tag "twitter-icon.png", :width => 12, :height => 12 %>
<a href="http://twitter.com/dailyshoot">Follow @dailyshoot on Twitter</a>
</p>

<h2>Recent Assignments</h2>

<div id="tweets">
  <% @tweets.each do |tweet| -%>
    <p>
      <strong><%= h tweet.text %>
    </p>
  <% end -%>
</div>