<div class="span-22 prepend-1 append-1 last" id="second">
<h2 style="text-align:center;"><%= @photog_count %> photographers have made photos for The Daily Shoot</h2>	
</div>

<div class="span-22 prepend-1 append-1 last">
<% @photogs.each do |photog| -%>
  <div class="photog-rect">
    <div class="avatar">
      <%= link_to(image_tag(photog.profile_image_url, :size => "45x45", 
                    :alt => photog.screen_name, :class => 'twitter-avatar'), 
                  photog_url(photog.screen_name)) %> 
  	</div>
  	<div class="info">
  	  <%= link_to "#{photog.screen_name}", photog_url(photog.screen_name) %>
  	  <br/>
  	  <%= pluralize(photog.photos_count, 'photo') %>
  	</div>
  </div>
<% end -%>
</div>
