<div id="second" class="span-22 prepend-1 append-1 last">
<h2>Edit Mention</h2>
</div>

<div class="span-12 prepend-1 appened-1">
<% labeled_form_for @mention do |f| -%>
<fieldset>  
  <%= f.error_messages %>
  <%= f.text_area :text, :rows => 3, :class => "countdown limit_122_" %>
  <strong><p class="remaining"></p></strong>
  <p>
    <%= f.submit 'Update' %>
  </p>
</fieldset>
<% end -%>
</div>

<div class="span-9 prepend-1 last">
<p>
  <%= link_to 'All Mentions', mentions_path %>
</p> 
</div>