<h3><%= @assignment.tag %>: <%= h @assignment.text %></h3>

<div class="photos clearfix">
<% @photos.each do |photo| -%>
  <% content_tag :div, :class => 'photo-thumb' do -%>
    <%= link_to image_tag(photo.thumb_url, :alt => photo.url), 
                photo.url, :title => "", :rel => 'nofollow', :popup => true %>
    <%= link_to photo.photog_screen_name, photog_url(photo.photog_screen_name) %>
  <% end -%>
<% end -%>
</div>
