<h2>Assignment Suggestion</h2>

<% labeled_form_for @suggestion do |f| -%>
<fieldset>  
  <%= f.text_field :who %>
  <%= f.text_area  :what, :rows => 3 %>
  <p>
    <%= f.submit 'Submit' %>
  </p>
</fieldset>
<% end -%>
