<p>
  <b>Who:</b>
  <%=h @suggestion.who %>
</p>

<p>
  <b>What:</b>
  <%=h @suggestion.what %>
</p>


<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>