<div id="second" class="span-22 prepend-1 append-1 last">
<h2>Thanks, <%= @suggestion.who %>!</h2>
</div>

<div class="span-12 prepend-1 appened-1 last">
  <p>
    We appreciate you taking the time to suggest an assignment for The Daily Shoot:
  </p>
  <p>
    <strong><%= h @suggestion.what %></strong>
  </p>
  <p>
    Look for it to appear in a future tweet.  In the meantime, here are some pretty
    pictures for your viewing enjoyment!
  </p>
  <%= render :partial => 'shared/photowall', 
             :locals => {:photos => @photos, :caption => 'photog'} %>  
  <p>
    <%= link_to "Suggest another assignment!", new_suggestion_url %>
  </p>
</div>