<div id="second" class="span-22 prepend-1 append-1 last">
<h2>Thanks, <%= @suggestion.name %>!</h2>
</div>

<div class="span-22 prepend-1 appened-1 last" style="margin-bottom: 20px;">
  <p>
    We appreciate you taking the time to <%= link_to "suggest an assignment", new_suggestion_url %>
     for The Daily Shoot:
  </p>
  <p style="margin-left: 20px;">
    <strong><%= h @suggestion.suggestion %></strong>
  </p>
  <p>
    Look for it to appear in a future @dailyshoot tweet.  
    In the meantime, here are some pretty pictures made by The Daily Shoot 
    photogs for your viewing enjoyment!
  </p>
</div>

  <%= render :partial => 'shared/photowall', 
             :locals => {:photos => @photos.sort_by { rand }, :caption => 'photog'} %>  
